/* You can add global styles to this file, and also import other style files */

.fondoVerde{
    background: lightgreen;
}

.fondoAzul{
    background: lightblue;
}

.activado{
    font-weight: bold;
    background: lightblue;
}